$primary_color: #FF9E9E;


.login-form {
    width: 400px;
    padding: 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    text-align: center;
    .form-header {
        &__title {
            color: white;
            font-weight: 500;
        }
        &__description {
            font-size: 10px;
            color: white;
            font-weight: 500;

        }
    }

    .form-contents {
        &__input {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            border: 2px solid $primary_color;
            padding: 15px 10px;
            width: 200px;
            outline: none;
            border-radius: 24px;
            transition: 0.25s;
            text-align: center;

            &:focus {
                width: 280px;
                background-color: #f0f8ff;
            }

            &--submit {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                border: 2px solid #f0f8ff;
                padding: 15px 10px;
                width: 200px;
                outline: none;
                color: white;
                border-radius: 25px;
                transition: 0.25s;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: $primary_color;
                    border: 2px solid $primary_color;
                }
            }
        }
    }
}



