$primary_color: #FF9E9E;

.modal {
    //display: none;
    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background: rgba(49,49,49,0.8);
    }
    .modal_container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        background: #f1f1f1;
        padding: 14px 28px;
        border-radius: 8px;
        max-width: 800px;
        min-width: 400px;
        .create_form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            &__friend_name {
                border: none;
                height: 40px;
                font-size: 16px;
                margin-bottom: 8px;
                padding: 4px 8px;
            }
            &__memo {
                border: none;
                height: 120px;
                font-size: 16px;
                margin-bottom: 8px;
                padding: 4px 8px;


            }
            &__submit_button {
                background-color: $primary_color;
                width: 40%;
                margin: 0 auto 8px auto;

            }
            &__close_button {
                background-color: $primary_color;
                width: 40%;
                margin: 0 auto 8px auto;

            }
        }
    }
}
