/*
$primary_color: #FF9E9E;
$button_icon_color: #FFF; // ボタンのアイコンの色

.modal_open_button {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: fixed;
    left: 70%;
    top: 70%;
    z-index: 2;
    background-color: $primary_color;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($primary_color, 10%);
    }

    img {
        width: 30px;
        height: 30px;
        display: block;
        margin: auto;
        fill: $button_icon_color; // アイコンの色を指定
    }
}
*/


$primary_color: #FF9E9E;
$button_icon_color: #FFF; // ボタンのアイコンの色

.modal_open_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: fixed;
    left: 70%;
    top: 70%;
    z-index: 2;
    background-color: $primary_color;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: darken($primary_color, 10%);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
        -4px -4px 8px rgba(255, 255, 255, 0.2);
    }

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2),
        inset -4px -4px 8px rgba(255, 255, 255, 0.2);
    }

    .button_icon {
        width: 30px;
        height: 30px;
        display: block;
        fill: $button_icon_color; // アイコンの色を指定
    }
}
