
$primary_color: #FF9E9E;

.modal_open_button {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: fixed;
    left: 70%;
    top: 70%;
    z-index: 2;
    img {
        width: 60px;
        height: 60px;
    }
}
