$primary_color: #FF9E9E;
$search_bar_background: lighten($primary_color, 20%);

.search_bar {
    max-width: 1200px;
    margin: 0 auto 16px auto;
    background-color: $search_bar_background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 10px;


    &__textbox {
        height: 32px;
        width: 100%;
        padding: 4px 8px;
        border: none;
        background-color: transparent;
        color: #000;
        font-size: 16px;

        &::placeholder {
            color: rgba(0, 0, 0, 0.8);
        }

        &:focus {
            outline: none;
        }
    }

    &__icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
